@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "scorpion";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(92% 0.013 255.508);
    --color-base-200: oklch(86% 0.022 252.894);
    --color-base-300: oklch(70% 0.04 256.788);
    --color-base-content: oklch(0% 0 0);
    --color-primary: oklch(17.67% 0.0502 252.72);
    --color-primary-content: oklch(75.89% 0.024 241.99);
    --color-secondary: oklch(75.89% 0.024 241.99);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(58.78% 0.1101 263.46);
    --color-accent-content: oklch(98% 0.031 120.757);
    --color-neutral: oklch(68.52% 0.0177 278.37);
    --color-neutral-content: oklch(98% 0.026 102.212);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
  }
  